{% extends "base.html" %}
{% block title %}Create Paste{% endblock title %}
{% block body %}
<form class="grow" method="POST" action="/">
  <input type="hidden" name="token" value="{{ token }}">
  <textarea
      class="w-full h-full resize-none bg-transparent font-mono outline-none"
      name="content"
      autofocus
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      placeholder="Paste something :)"></textarea>
  <div class="absolute bottom-4 right-4 flex flex-row items-stretch gap-2">
    <select
      class="px-4 py-2 bg-slate-200 dark:bg-slate-800 text-gray-800 dark:text-gray-200 text-md rounded-md"
      name="highlight">
      <option value="">No syntax highlighting</option>
      {% include "highlight/languages.html" %}
    </select>
    <button
        class="px-4 py-2 rounded-md bg-blue-800 dark:bg-blue-800 hover:bg-blue-700
        dark:hover:bg-blue-700 text-gray-200 hover:text-gray-100 text-md cursor-pointer
        transition-colors"
        type="submit"
        title="Create paste &#x2318;+&#x23ce;">&#10003; Create paste</button>
  </div>
</form>
<script>
  const form = document.querySelector("form");
  const textarea = document.querySelector("textarea");
  const button = document.querySelector("button[type='submit']");

  textarea.addEventListener("input", () => {
    button.disabled = !textarea.value;
  });

  document.body.addEventListener("keydown", (event) => {
    if (event.key === "Enter" && (event.metaKey || event.ctrlKey || event.altKey)) {
      form.submit();
    }
  });
</script>
{% endblock body %}
