{% extends "base.html" %}
{% block title %}Create Paste{% endblock title %}
{% block body %}
<form method="POST" action="/">
  <input type="hidden" name="token" value="{{ token }}">
  <textarea
      name="content"
      autofocus
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      placeholder="Paste something :)"
      required></textarea>
  <div class="toolbar">
    <select name="highlight">
      <option value="">No syntax highlighting</option>
      {% include "highlight/languages.html" %}
    </select>
    <button type="submit" title="Create paste &#x2318;+&#x23ce;">Create paste</button>
  </div>
</form>
<script>
  const form = document.querySelector("form");
  const textarea = document.querySelector("textarea");
  const button = document.querySelector("button[type='submit']");

  textarea.addEventListener("input", () => {
    button.disabled = !textarea.value;
  });

  document.body.addEventListener("keydown", (event) => {
    if (event.key === "Enter" && (event.metaKey || event.ctrlKey || event.altKey)) {
      form.submit();
    }
  });
</script>
{% endblock body %}
