{%- extends "base.html" %}
{%- block title %}View Paste{% endblock title %}
{%- block head %}
  {%- if post and post.highlight is string %}
      <link rel="stylesheet" href="/static/highlight.css">
  {%- endif %}
{%- endblock %}
{%- block body %}
  {%- if post %}
    {%- if post.highlight is not string %}
      <pre class="plain">{{ post.content }}</pre>
    {%- else %}
      <pre class="highlight"><code class="language-{{ post.highlight }}">{{ post.content }}</code></pre>
      <script src="/static/highlightjs/highlight.min.js"></script>
      {%- set common = ["bash", "c", "cpp", "csharp", "css", "diff", "go","grapql", "init", "java",
      "javascript", "json", "kotlin", "less", "lua", "makefile", "markdown", "objectivec", "perl",
      "php-template", "php", "plaintext", "python-repl", "python", "r", "ruby", "rust", "scss",
      "shell", "sql", "swift", "typescript", "vbnet", "wasm", "xml", "yaml"] %}
      {%- if common is not in post.highlight %}
        <script src="/static/highlightjs/languages/{{ post.highlight }}.min.js"></script>
      {%- endif %}
      <script>
        hljs.highlightAll();
      </script>
    {%- endif %}
    <div class="toolbar">
      <a href="/" class="button" title="Create a new paste">
        {% include "icons/file-plus-2.svg" %}
        New Paste
      </a>
      <button id="copy-button" type="button" title="Copy to clipboard">
        {% include "icons/clipboard-copy.svg" %}
        Copy to clipboard
      </button>
    </div>
    <script>
      (function() {
        document.getElementById("copy-button").addEventListener("click", () => {
          navigator.clipboard.writeText(document.querySelector("pre").textContent);
        })
      })();
    </script>
  {%- else %}
    <div class="missing">
      <h1>&#x1FAE0; Not Found</h1>
      <p class="opacity-75">Sorry, but the paste you were trying to view does not exist.</p>
      <a class="button" href="/">Create a new paste</a>
    </div>
  {%- endif %}
{%- endblock %}
